/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
 *
 *
 * The following import comletely resets all the browser defaults, going so far as to remove boldness from strong and b tags.
 * I understand the idea, to have your own defaults cross-browser, but so far I like the browser defaults.
 * I'll get around to making my own "reset css" stylesheet at somepoint, and I don't want to deal with this
 * reset right now, so I've disabled it.
 */
// @import "compass/reset";
//This though, adds some cool functions, sorta like a framework :D
@import "compass";

//The transistion went smoothly, and I can now use // to comment :D

//I can now define pseudo-functions :D
@mixin transformTranslate($x, $y) {
   -webkit-transform: translate($x,$y);
      -moz-transform: translate($x,$y);
       -ms-transform: translate($x,$y);
        -o-transform: translate($x,$y);
           transform: translate($x,$y);   
}

:root {
height:100vh;
}

.centeredHorizontally{
	position: absolute;
	left: 50%;
    margin-right: -50%;
    @include transformTranslate(-50%, 0);
	text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.centered{
	@extend .centeredHorizontally;              
    top: 50%;
    @include transformTranslate(-50%,-50%);
}

.fullContainer{
	height: 100%;
	width: 100%;
	position: absolute;
    /*position: relative;*/
}
.noMargin{
	margin: 0 0;
}

#Welcome{
	/*margin: 0 auto;
	border-radius: 1em;*/
	padding: 1em;
	font-size: 4vw;
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: #96f5ff; // Old browsers
	@include filter-gradient(#96f5ff, #ffffff, horizontal); // IE6-9 fallback on horizontal gradient
	@include background-image(radial-gradient(center, ellipse farthest-side, #96f5ff,#ffffff));
}

#Features{
	position: absolute;
	margin-left: 1em;
	font-size: 1em;
}

#smiley{
	height: 4em;
	width: 100%;
	position: absolute;
	bottom: 0;
}

#smileyImg{
	height: 2em;
	width: 2em;
	@include transformTranslate(0%,33%);
}

