/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
 *
 *
 * The following import comletely resets all the browser defaults, going so far as to remove boldness from strong and b tags.
 * I understand the idea, to have your own defaults cross-browser, but so far I like the browser defaults.
 * I'll get around to making my own "reset css" stylesheet at somepoint, and I don't want to deal with this
 * reset right now, so I've disabled it.
 */
// @import "compass/reset";

//This though, adds some cool functions, sorta like a framework :D
@import "compass";

//The transistion went smoothly, and I can now use // to comment :D

// HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
@mixin textOutline($size, $color) {
    text-shadow:
    // 0px $size 0px $color,
    // $size 0px 0px $color,
    // 0px -$size 0px $color,
    // -$size 0px 0px $color,
    $size $size 0px $color,
    -$size $size 0px $color,
    $size $size - $size - $size 0px $color,
    -$size $size - $size - $size 0px $color;
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #FFF;
    text-stroke: 2, rgb(0, 0, 0);
    // -webkit-text-stroke-width: 2px;
    // -webkit-text-stroke-color: rgb(0,0,0);
    @include textOutline(.06em, #000);
    //text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

// Remove default fieldset styles.

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

// Allow only vertical resizing of textareas.

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    #Welcome {
        background-color: #96f5ff;
    }
}
@media screen\0 {
    #Welcome {
        background-color: #96f5ff;
    }
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

//I can now define pseudo-functions :D
@mixin transformTranslate($x, $y) {
   -webkit-transform: translate($x,$y);
      -moz-transform: translate($x,$y);
       -ms-transform: translate($x,$y);
        -o-transform: translate($x,$y);
           transform: translate($x,$y);
}

:root {
height:100vh;
}

a {
    text-decoration: none;
    border-bottom: .15em solid #2a2afd;
    border-radius: 1em;
    color: #2a2afd;
}

.centeredHorizontally {
	position: absolute;
	left: 50%;
    margin-right: -50%;
    @include transformTranslate(-50%, 0);
	text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.centered {
	@extend .centeredHorizontally;
    top: 50%;
    @include transformTranslate(-50%,-50%);
}

.fullContainer {
	height: 100%;
	width: 100%;
	position: absolute;
    /*position: relative;*/
}

.noMargin {
	margin: 0 0;
}

.strechBottom {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.spaceBackground {
    background-image: url("../images/space.jpg");
}

#Welcome {
	/*margin: 0 auto;
	border-radius: 1em;*/
	padding: 1em;
	font-size: 4vw;
	// needs latest Compass, add '@import "compass"' to your scss
	@include filter-gradient(#96f5ff, rgba(255, 255, 255, 0), horizontal); // IE6-9 fallback on horizontal gradient
	@include background-image(radial-gradient(center, ellipse farthest-side, #96f5ff, rgba(255, 255, 255, 0)));
}

#Welcome a {

}

#smiley {
    position: initial;
}

#smileyText {
	// height: 3em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

//Hide visually and from screen readers


.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

//Hide visually and from screen readers, but maintain layout


.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
