:root {
height:100vh;

}
#Welcome{
	/*margin: 0 auto;
	border-radius: 1em;*/
	padding: 1em;
	font-size: 4vw;
	
}
#Features{
	margin-left: 1em;
	font-size: 3vw;
}

p.centeredText{
    position: absolute;               
    top: 50%;                         
    left: 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	text-align: center;
}

.fullContainer{
	height: 100%;
	width: 100%;
	position: absolute;
    /*position: relative;*/
}
.noMargin{
	margin: 0 0;
}