/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
 *
 *
 * The following import comletely resets all the browser defaults, going so far as to remove boldness from strong and b tags.
 * I understand the idea, to have your own defaults cross-browser, but so far I like the browser defaults.
 * I'll get around to making my own "reset css" stylesheet at somepoint, and I don't want to deal with this
 * reset right now, so I've disabled it.
 */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 31, ../sass/ignat_styling.scss */
html {
  color: #FFF;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 46, ../sass/ignat_styling.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 51, ../sass/ignat_styling.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 60, ../sass/ignat_styling.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 75, ../sass/ignat_styling.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* line 86, ../sass/ignat_styling.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 94, ../sass/ignat_styling.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
/* line 102, ../sass/ignat_styling.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 122, ../sass/ignat_styling.scss */
:root {
  height: 100vh;
}

/* line 126, ../sass/ignat_styling.scss */
.centeredHorizontally, .centered {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 136, ../sass/ignat_styling.scss */
.centered {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 142, ../sass/ignat_styling.scss */
.fullContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  /*position: relative;*/
}

/* line 149, ../sass/ignat_styling.scss */
.noMargin {
  margin: 0 0;
}

/* line 153, ../sass/ignat_styling.scss */
.strechBottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* line 159, ../sass/ignat_styling.scss */
.spaceBackground {
  background-image: url("../images/space.jpg");
}

/* line 163, ../sass/ignat_styling.scss */
#Welcome {
  /*margin: 0 auto;
  border-radius: 1em;*/
  padding: 1em;
  font-size: 4vw;
  background-color: #96f5ff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF96F5FF', endColorstr='#FFFFFFFF');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2ZjVmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse farthest-side, #96f5ff, #ffffff);
  background-image: -webkit-radial-gradient(center, ellipse farthest-side, #96f5ff, #ffffff);
  background-image: radial-gradient(ellipse farthest-side at center, #96f5ff, #ffffff);
}

/* line 174, ../sass/ignat_styling.scss */
#Welcome a {
  text-decoration: none;
  color: blue;
}

/* line 179, ../sass/ignat_styling.scss */
#smiley {
  height: 3em;
}

/* line 183, ../sass/ignat_styling.scss */
#smileyImg {
  height: 2em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 194, ../sass/ignat_styling.scss */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* line 203, ../sass/ignat_styling.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/* line 220, ../sass/ignat_styling.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 233, ../sass/ignat_styling.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 249, ../sass/ignat_styling.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 255, ../sass/ignat_styling.scss */
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 283, ../sass/ignat_styling.scss */
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 295, ../sass/ignat_styling.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 300, ../sass/ignat_styling.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 304, ../sass/ignat_styling.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 313, ../sass/ignat_styling.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 318, ../sass/ignat_styling.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 329, ../sass/ignat_styling.scss */
  thead {
    display: table-header-group;
  }

  /* line 333, ../sass/ignat_styling.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 338, ../sass/ignat_styling.scss */
  img {
    max-width: 100% !important;
  }

  /* line 342, ../sass/ignat_styling.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 349, ../sass/ignat_styling.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
