/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
 *
 *
 * The following import comletely resets all the browser defaults, going so far as to remove boldness from strong and b tags.
 * I understand the idea, to have your own defaults cross-browser, but so far I like the browser defaults.
 * I'll get around to making my own "reset css" stylesheet at somepoint, and I don't want to deal with this
 * reset right now, so I've disabled it.
 */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 41, ../sass/ignat_styling.scss */
html {
  color: #FFF;
  text-stroke: 2, black;
  text-shadow: 0.06em 0.06em 0px #000, -0.06em 0.06em 0px #000, 0.06em -0.06em 0px #000, -0.06em -0.06em 0px #000;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 60, ../sass/ignat_styling.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 65, ../sass/ignat_styling.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 74, ../sass/ignat_styling.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 89, ../sass/ignat_styling.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* line 100, ../sass/ignat_styling.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 108, ../sass/ignat_styling.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
/* line 116, ../sass/ignat_styling.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  /* line 125, ../sass/ignat_styling.scss */
  #Welcome {
    background-color: #96f5ff;
  }
}
@media screen\0 {
  /* line 130, ../sass/ignat_styling.scss */
  #Welcome {
    background-color: #96f5ff;
  }
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* line 147, ../sass/ignat_styling.scss */
:root {
  height: 100vh;
}

/* line 151, ../sass/ignat_styling.scss */
a {
  text-decoration: none;
  border-bottom: .15em solid #2a2afd;
  border-radius: 1em;
  color: #2a2afd;
}

/* line 158, ../sass/ignat_styling.scss */
a:hover {
  border-bottom-color: #48b2e8;
}

/* line 163, ../sass/ignat_styling.scss */
header {
  border-top: solid 8px #019cdb;
}

/* line 167, ../sass/ignat_styling.scss */
.nav-item {
  list-style: none;
  display: inline;
}

/* line 173, ../sass/ignat_styling.scss */
.niceSpacing {
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: 25%;
}

/* line 181, ../sass/ignat_styling.scss */
.centeredHorizontally, .centered {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 191, ../sass/ignat_styling.scss */
.centered {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 197, ../sass/ignat_styling.scss */
.fullContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  /*position: relative;*/
}

/* line 204, ../sass/ignat_styling.scss */
.noMargin {
  margin: 0 0;
}

/* line 208, ../sass/ignat_styling.scss */
.strechBottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* line 214, ../sass/ignat_styling.scss */
.spaceBackground {
  background-image: url("../images/space.jpg");
}

/* line 218, ../sass/ignat_styling.scss */
.resume {
  margin-left: 1em;
}

/* line 222, ../sass/ignat_styling.scss */
.footer {
  font-size: 30px;
}

/* line 226, ../sass/ignat_styling.scss */
#Welcome {
  padding: 1em;
  font-size: 4vw;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF96F5FF', endColorstr='#00FFFFFF');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2ZjVmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse farthest-side, #96f5ff, rgba(255, 255, 255, 0));
  background-image: -webkit-radial-gradient(center, ellipse farthest-side, #96f5ff, rgba(255, 255, 255, 0));
  background-image: radial-gradient(ellipse farthest-side at center, #96f5ff, rgba(255, 255, 255, 0));
}

/* line 240, ../sass/ignat_styling.scss */
#smiley {
  position: initial;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 255, ../sass/ignat_styling.scss */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* line 264, ../sass/ignat_styling.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/* line 281, ../sass/ignat_styling.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 294, ../sass/ignat_styling.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 310, ../sass/ignat_styling.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 316, ../sass/ignat_styling.scss */
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 344, ../sass/ignat_styling.scss */
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 356, ../sass/ignat_styling.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 361, ../sass/ignat_styling.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 365, ../sass/ignat_styling.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 374, ../sass/ignat_styling.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 379, ../sass/ignat_styling.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 390, ../sass/ignat_styling.scss */
  thead {
    display: table-header-group;
  }

  /* line 394, ../sass/ignat_styling.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 399, ../sass/ignat_styling.scss */
  img {
    max-width: 100% !important;
  }

  /* line 403, ../sass/ignat_styling.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 410, ../sass/ignat_styling.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
